*{
    box-sizing: border-box;
}


:root{
    --height-for-viewport: 300px;
    --color-for-background: #DCDCDC;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

@font-face {
    font-family: nordic;
    src: url("fonts/Norse-Bold.otf");
}

.left-side{
    display: flex;
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-size: 640px 960px;
    width: 500px;
    height: 100%;
    justify-content: start;
    align-items: start;
    position: relative;
}

.right-side{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-for-background);
    width: 800px;
    height: 100vh;
}
.message{
    display: block;
}

.foronlytext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: large;
    margin-top: 150px;
    margin-left: 40px;
    margin-bottom: 50px;;
    background-color: var(--color-for-background); 
    max-height: var(--height-for-viewport);
    width: 700px;
    max-height: 220px;
}
.upper{
    margin-left: 5px;
}

.bottom{
    margin-top: 10px;
}

.italicized{
    font-style: italic;
}

.forsignupform{
    background-color: white;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.textbeforeform{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: lighter;
    margin-left: 20px; 
    height: 10px;
    position: absolute;
    bottom: 350px;
    
}

button{
    border-radius: 3px;
    color: white;
    background-color: #596d48;
    width: 125px;
    height: 30px; 
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.buttoncontent{ 
    background-color: #DCDCDC;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

input{
    border-radius: 3px;
    margin: 6px;
    width: 200px;
    height: 25px;
    display: inline;
    display: flex;
    border: 1px solid gray;
}

.textlets{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
form{
    margin-top: 70px; 
}



.name,
.contact,
.password{
    margin: 20px;
    display: flex; 
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 525;
    align-items: start;
    font-size: 10px;
    
}

label + input{
    appearance: none;
}

.forbutton{
    background-color: var(--color-for-background);
    
}

a{
    color: #596d48
}

.odin-logo{
    margin-top: 150px;
    height:100px;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    color: white;
    font-family: nordic;
    font-size: 50px;
    text-align: center;
}

.odin-lined{
    height: 70px;
    width: 60px;
    position: absolute;
    margin-top: 20px;
    top: 130px;
    left: 140px;
}
