*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
}


.left-side{
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-size: 640px 960px;
    width: 500px;
    height: 690px;;
}

.right-side{
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC ;
    width: 100%;
}
.message{
    display: block;
    margin: 20px;
}