*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
}

@font-face {
    font-family: nordic;
    src: url("fonts/Norse-Bold.otf");
}

.left-side{
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-size: 640px 960px;
    width: 500px;
    height: 690px;;
}

.right-side{
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC ;
    width: 100%;
}
.message{
    display: block;
}

.foronlytext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: large;
    margin-top: 120px;
    margin-left: 40px;;
}
.upper{
    margin-left: 5px;
}

.bottom{
    margin-top: 10px;
}

.italicized{
    font-style: italic;
}